// Variables
$primary_color: white;
$secondary_color: black;
$component_color: rgba(13, 55, 240);
$complementary_color: rgba(226, 114, 91);
$headersize: 36px;
$mainsize: 24px;
$mobile: 500px;
$tablet: 768px;
$laptop: 1024px;
$header_font: EB Garamond, serif;
$body_font: Open Sans, sans-serif;

// Mixins
@mixin projects_details {
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 2px;
  height: auto;
  font-family: $body_font;
}

@mixin project_card {
  justify-content: center;
}
@mixin position {
  background-color: rgba(13, 55, 240, 0.2);
}

// main css

* {
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: $primary_color;
  // margin: 0 68px;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: $secondary_color;
  height: 56px;
  padding: 0 8px;
  margin: 0;
  font-family: $header_font;
  background-color: $primary_color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 30px;
    font-family: $header_font;
    margin: auto;

    span {
      color: $complementary_color;
    }
  }

  // @media (max-width: $mobile) {
  //   display: block;
  // }

  .logo {
    position: fixed;
    top: 0;
    left: 0;
    font-size: large;
    margin: auto;
    font-family: $header_font;

    span {
      font-size: 48px;
      color: $component_color;
    }
  }

  .nav_left {
    display: flex;
    justify-content: flex-end;
    padding: auto;
    width: 100%;
    margin-right: 16px;

    li {
      list-style: none;
      padding-left: 24px;

      @media (max-width: $mobile) {
        padding: 18px 0;
        justify-content: space-between;
        margin-left: 18px;
      }
    }

    a {
      color: $component_color;
      text-decoration: none;
      font-size: 18px 0;

      &:hover,
      &:active {
        color: $complementary_color;
        text-decoration: 5px underline;
      }
    }
  }

  .Menu-ham {
    display: none;

    @media (max-width: $mobile) {
      display: block;

      &:checked ~ .nav_left {
        right: 0%;
      }
    }
  }
  .opening-button {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

    .line {
      width: 100%;
      height: 3px;
      background-color: $primary_color;
      margin: 4px 0;
      align-items: center;
    }
  }
  .close-button {
    display: none;
  }

  &:hover .nav_left {
    text-decoration: underline;
    color: $complementary_color;
  }

  @media (max-width: $mobile) {
    // .Menu-ham:checked ~ .nav_left {
    //   right: 0%;
    display: block;

    .nav_left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      // position: fixed;
      top: 0;
      right: 0;
      z-index: 300;
      padding: 8px 0;
      background-color: $primary_color;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      width: 75%;
      height: 100vh;
      margin: 0;
      border-radius: 20px;
      opacity: 0.8;
      position: absolute;
      right: -100%; // Initially hidden off-screen to the right
      transition: right 0.3s ease; // Smooth transition effect

      .opening-button,
      .close-button {
        display: block;
        margin-left: 18px;
      }
    }
  }
}

.Menu-ham:checked ~ #overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 36px;

  @media (max-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 18px;
  }

  @media (max-width: $mobile) {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0 18px;
    flex-direction: column-reverse;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin-top: 60px;

    @media (max-width: $tablet) {
      display: flex;
      align-items: center;
      gap: 4rem;
    }

    @media (max-width: $mobile) {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      padding: 0px;
      gap: 2rem;
    }

    .title_section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 50rem;

      @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
      }

      p {
        display: flex;
        padding: 8px 8px $mainsize 8px;
        line-height: 2em;
        max-width: 700px;
        font-family: $body_font;

        @media (max-width: $tablet) {
          line-height: 1.5em;
          padding: 18px;
        }

        @media (max-width: $mobile) {
          padding: 8px;
        }
      }

      h1 {
        font-size: 3.8em;
        padding-bottom: 8px;
        color: $component_color 10%;
        font-family: $header_font;

        @media (max-width: $laptop) {
          font-size: 2.8em;
        }

        @media (max-width: $tablet) {
          font-size: 1.8em;
          align-items: center;
        }

        img {
          width: 60px;
          height: 60px;
          padding: 5px;
          margin-bottom: 0px;

          @media (max-width: $mobile) {
            width: 30px;
            height: 30px;
          }
        }

        @media (max-width: $mobile) {
          font-size: 20px;
          padding: 8px;
        }
      }
    }
    img {
      height: 400px;
      width: 300px;
      display: flex;
      justify-content: flex-end;
      object-fit: cover;
      margin-bottom: 36px;

      @media (max-width: $mobile) {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0px;
      }
    }
    .connect {
      display: flex;
      font-size: 40px;

      @media (max-width: $mobile) {
        font-size: 20px;
      }

      .fa-brands,
      .fa-solid {
        padding: 8px;
        color: $component_color;
        font-size: 24px;

        @media (max-width: $tablet) {
          padding: 18px;
          font-size: 30px;
        }

        @media (max-width: $mobile) {
          font-size: 20px;
        }
      }

      @media (max-width: $mobile) {
        display: flex;
        padding: 18px;
        font-size: 18px;
        flex-wrap: nowrap;
        justify-content: center;
      }
    }
  }
}
.About {
  display: flex;
  gap: 5rem;
  justify-content: center;
  margin: 0 36px 36px 0;

  @media (max-width: $tablet) {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 0 18px;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px 18px;
  }

  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 450px;
    object-fit: cover;
    margin: 8px 18px;
    border-radius: 20px;
    // border: 1px solid $component_color;

    @media (max-width: $tablet) {
      width: 350px;
      height: auto;
      object-fit: cover;
      border-radius: 20px;
      border: 1px solid #0d37f0;
    }

    @media (max-width: $mobile) {
      width: 100%;
      height: auto;
      margin: 0px;
      object-fit: cover;
    }
  }

  .title {
    display: block;
    align-items: center;
    padding: 8px;
    max-width: 30rem;

    h1 {
      font-size: 36px;
      padding: 5px 18px;
      color: $component_color;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      font-family: $header_font;

      @media (max-width: $laptop) {
        font-size: 2.8em;
      }

      @media (max-width: $tablet) {
        font-size: 1.8em;
        align-items: center;
      }
    }
    p {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      line-height: 2em;
      padding: 5px 18px;
      text-align: justify;
    }
    .more {
      display: flex;
      gap: 30px;
      padding: 20px 18px;

      @media (max-width: $tablet) {
        gap: 20px;
        padding: 15px 18px;
      }

      @media (max-width: $mobile) {
        gap: 20px;
      }

      .more-header {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        background-color: $component_color;
        color: $primary_color;
        font-family: $header_font;
        border-radius: 20px;
        cursor: pointer;

        @media (max-width: $tablet) {
          font-size: 14px;
        }

        @media (max-width: $mobile) {
          font-size: 10px;
        }
      }
      .more-checkedbox {
        display: none;
      }
      .more-checkedbox:checked + .more-header + .more-content {
        display: block;
      }
      .more-content {
        display: none;
        padding: 10px;
        border: 1px solid rgba(13, 55, 240, 0.2);
        border-radius: 5px;
        background-color: #ffffff;
        font-family: $body_font;

        ul {
          list-style-type: none;
          padding: 0;
        }
      }
    }
  }
}

h1 {
  font-size: $headersize;
  color: $component_color;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: $header_font;
  // margin-bottom: 18px;

  @media (max-width: $tablet) {
    font-size: 30px;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    margin: 5px 18px;
  }
}
p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 36px;
  font-family: $body_font;

  @media (max-width: $mobile) {
    margin: 5px 18px;
    padding-bottom: 18px;
  }
}
// }
.projects_cards {
  display: flex;
  flex-flow: row wrap;
  margin: 18px 32px;
  gap: 16px;

  @media (max-width: $tablet) {
    margin: 18px;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
  }

  .project,
  .project2,
  .project3 {
    @include position;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include projects_details;
    min-height: 250px;
    flex: 1 1 calc(33.333% - 32px);
    position: relative;

    img {
      width: 100%;
      height: 250px;
      border-radius: 20px;
      object-fit: cover;

      &:hover {
        transition: 1.1s;
      }
    }

    @media (max-width: $mobile) {
      flex: 1 1 100%;
    }
    .layer {
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      color: $primary_color;
      border-radius: 20px;
      min-height: 250px;
      position: absolute;
      top: 0;
      bottom: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.3s ease;

      h3 {
        text-align: center;
        padding-bottom: 18px;
      }
      p {
        padding: 10px;
      }
      a {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
        height: 80px;

        .fa-solid {
          display: flex;
          width: 50px;
          height: 50px;
          flex-direction: column;
          justify-content: center;
          font-size: 30px;
          background-color: $complementary_color;
          align-items: center;
          color: $primary_color;
          border-radius: 50%;
        }
      }
    }
  }
  // color: $component_color;
  padding-bottom: 16px;
}
.project:hover .layer,
.project2:hover .layer,
.project3:hover .layer {
  opacity: 1; /* Show the layer on hover */
}
a {
  text-decoration: none;
}
// #Contact {
//   // background-color: $complementary_color;
// }
.contact {
  display: grid;
  grid-template-areas:
    "main image"
    "main phone";
  grid-template-columns: 2fr 1fr;
  grid-gap: 18px;
  margin: 150px 36px 50px;
  justify-content: center;
  align-content: center;

  @media (max-width: $tablet) {
    margin: 50px 18px;
    grid-template-areas:
      "image"
      "main"
      "phone";
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }
  @media (max-width: $mobile) {
    margin: 20px 18px;
    grid-template-areas:
      "image"
      "main"
      "phone";
    grid-template-columns: 1fr;
  }

  .main {
    grid-area: main;
    padding: 18px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(13, 55, 240, 0.2);
    width: 100%;
    background-color: $primary_color;

    .title {
      color: $complementary_color;
      padding: 12px;
      font-size: 16px;
      font-weight: bold;
      font-family: $header_font;
    }
    p {
      line-height: 1.8em;
      word-spacing: 5px;
      padding: 12px;
      font-family: $body_font;

      @media (max-width: $mobile) {
        margin: 5px 0;
        padding: 8px;
        word-spacing: 0;
        font-size: 14px;
      }
    }
    hr {
      color: $complementary_color;
      opacity: 0.5;
      width: 80%;
      margin: 24px auto;
    }
    h1 {
      padding: 12px;
      word-spacing: 5px;
      font-size: 24px;
      font-family: $header_font;
    }
    form {
      label {
        display: block;
        margin-bottom: 5px;
        font-family: $body_font;
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        opacity: 0.2;
        color: #ccc;
        font-family: $body_font;
      }

      input[type="radio"] {
        vertical-align: middle;
        margin-right: 5px;
        font-family: $body_font;
      }

      input[type="submit"] {
        padding: 10px 20px;
        background-color: $component_color;
        color: $primary_color;
        font-family: $body_font;
        border: none;
        border-radius: 20px;
        cursor: pointer; /* Change cursor to pointer on hover */
        transition: background-color 0.3s;
        &:hover {
          background-color: $component_color;
        }
      }
    }
  }
  .image {
    grid-area: image;
    border-radius: 10px;
    box-shadow: 0 2px 18px rgba(13, 55, 240, 0.2);
    width: 100%;
    height: auto;
    object-fit: cover;
    justify-content: center;
    align-content: center;

    @media (max-width: $mobile) {
      display: none;
    }

    img {
      width: auto;
      height: auto;
      //   padding: 10px;
    }
  }
  .phone {
    grid-area: phone;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(13, 55, 240, 0.2);
    width: 100%;
    justify-content: center;
    align-content: center;
    background-color: $primary_color;
    // margin-right: 30px;

    @media (max-width: $mobile) {
      display: none;
    }

    a {
      display: flex;
      justify-content: row;
      padding: 20px;
      text-decoration: none;
      color: $secondary_color;
      font-family: $body_font;

      .fa-solid {
        color: $component_color;
        font-size: 20px;
        padding: 0 12px;
      }
    }
  }
}

.footer {
  margin-top: 36px;
  width: 100%;

  span {
    color: $secondary_color;
  }
  .socials {
    display: flex;
    justify-content: center;
    padding: 18px;

    @media (max-width: $mobile) {
      display: flex;
      flex-direction: column;
    }

    .fa-brands {
      padding-left: 50px;
      font-size: 24px;
      color: $component_color;
      margin-right: 10px;

      @media (max-width: $mobile) {
        padding: 0px;
        font-size: 16px;
      }
    }
    .fa-solid {
      padding-left: 50px;
      color: $component_color;
      font-size: 24px;
      margin-right: 10px;

      @media (max-width: $mobile) {
        padding: 0px;
        font-size: 16px;
      }
    }
    a {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      color: $secondary_color;
      font-family: $body_font;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: rgb(87, 85, 85);

    p {
      font-size: 18px;
      color: $primary_color;
      font-family: $body_font;
    }
    hr {
      margin-top: 24px;
      width: 100%;
    }
    .scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 999;

      .fa-solid {
        width: 60px;
        height: 60px;
        color: $complementary_color;
      }
    }
  }
}
